<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="episodeProcessorSettings" type="TvTamer.Core.Configuration.EpisodeProcessorSettings, TvTamer.Core" />
    <section name="scheduleSettings" type="TvTamer.Core.Configuration.ScheduleSettings, TvTamer.Core" />
    <section name="torrentSearchSettings" type="TvTamer.Core.Configuration.TorrentSearchSettings, TvTamer.Core" />
  </configSections>
  <scheduleSettings
    processDownloadedFilesFrequency="360"
    databaseUpdateFrequency="720"
    newEpisodeSearchFrequency="360"
    />
  <episodeProcessorSettings downloadFolder="c:\temp\TV_Source\" tvLibraryFolder="c:\temp\TV_Destination\" fileExtentions=".mkv,.mp4,.m4v,.avi,.mpg,.mpeg,.wmv" dryRun="true" />
  <torrentSearchSettings torrentWatchFolder="c:\temp\torrents\" />
  <connectionStrings>
    <add name="TvContext" connectionString="Data Source=(local);Integrated Security=true;Initial Catalog=DevTvTamer" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>