<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="episodeProcessorSettings" type="TvTamer.Core.Configuration.EpisodeProcessorSettings, TvTamer.Core" />
    <section name="scheduleSettings" type="TvTamer.Core.Configuration.ScheduleSettings, TvTamer.Core" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <scheduleSettings processDownloadedFilesFrequency="360" databaseUpdateFrequency="720" newEpisodeSearchFrequency="360" />
  <episodeProcessorSettings downloadFolder="c:\temp\TV_Source\" tvLibraryFolder="c:\temp\TV_Destination\" fileExtentions=".mkv,.mp4,.m4v,.avi,.mpg,.mpeg,.wmv" dryRun="true" />
  <connectionStrings>
    <add name="TvContext" connectionString="Data Source=(local);Integrated Security=true;Initial Catalog=DevTvTamer" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>