<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="log" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/logs/${shortdate}.txt" 
            archiveFileName="${basedir}/logs/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <target name="console" xsi:type="Console" layout="${message}" />    
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="log, console" />
  </rules>
</nlog>