@model TvTamer.Web.Models.CalendarViewModel

@{
    ViewBag.Title = "Airing This Week";
}

<h2>@ViewBag.Title</h2>

@foreach (var dayofWeek in Model.Episodes.Keys)
{
    <h3>@(dayofWeek.ToString("dddd, MMM dd yyyy") )</h3>
    @Html.Partial("_SeriesEpisodeList", Model.Episodes[dayofWeek])
}


