@using TvTamer.Core.Models

@model  IEnumerable<TvSeries>
@{
    ViewBag.Title = "TV Series";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <p>
        <a class="btn btn-primary" href="/series/add">Add New Series</a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Show</th><th>Network</th><th>Status</th>
        </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var series in Model)
                {
                    <tr>
                        <td><a href="/show/details/@series.Id/@series.Name.ToSlug()">@series.Name</a></td>
                        <td>@series.Network</td>
                        <td>@series.Status</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">
                        <p>No TV Series have been added yet.</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


