<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dry-run" value="true"/>
  </appSettings>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <targets>
      <target name="log" type="File" fileName="tvcleaner.log"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="log" />
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>